.message.messages__scroll(class="message_"+style+"")
    .message__content(class="message__content_"+style+"")
        p.message__content_user #{user}
        span.message__content_text #{text}
        span.message__content_time #{time}
