.list {
    list-style-type: none;
    padding: 0 20px;
}
.list .item__user {
    margin: 0 0 5px 0;
    cursor: pointer;
}
.list .item__avatar {
    display: inline-block;
    width: 44px;
    height: 44px;
    line-height: 44px;
    text-align: center;
    border-radius: 30px;
    overflow: hidden;
}
.list .item__avatar img {
    max-width: 150%;
    max-height: 150%;
    vertical-align: middle;
}
.list .item__name {
    line-height: 42px;
    vertical-align: top;
    padding: 0 0 0 20px;
    display: inline-block;
    width: 57%;
    height: 30px;
    overflow: hidden;
}