
.textarea .item__wrap {
    margin: 0 32px 0 0;
    height: 100%;
}
.textarea .item__textarea {
    border: 1px solid #434343;
    text-align: start;
    resize: none;
    padding: 9px 15px;
    border-radius: 3px;
    outline: none;
    width: 100%;
    height: 100%;
}
textarea:focus {
    border: 1px solid #0976c4;
}