.button {
    white-space: nowrap;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    font-size: 100%;
    padding: 8px 16px;
    color: #fff;
    border: none;
    background-color: #0078e7;
    text-decoration: none;
    border-radius: 2px;
    font-size: 14px;
    transition: background-color .35s ease-in-out;
    text-shadow: 0 1px 0 rgba(0, 0, 0, .4);

    &:hover {
        background-color: #3D9DF3;
    }
}
