.button__item {
    border: none;
    outline: none;
    width: 100%;
    cursor: pointer;
}
.button__classic{
    padding: 10px 20px;
    background-color: #63b3ec;
    color: white;
    border-radius: 3px;
}
.button__href {
    padding: 4px 20px;
    background-color: transparent;
    color: #63b3ec;
}
.button__classic:hover{
    background-color: #41a8f2;
}
.button__href:hover{
     color: #278cd4;
}